[submodule "external/sdl"]
	path = external/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/sdl-image"]
	path = external/sdl-image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "external/lua"]
	path = external/lua
	url = https://github.com/enci/lua.git
